body {
    background-color: #F5F7FA;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

li {
    line-height: 24px;
}

.contenedor-principal {
    background-color: white;
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 40px auto;
}

.foto{
    /* padding-left: 60px; */
}

.informacion-general {
    margin: 100px;
}

.contenedor-general {
    padding: 100px 88px;/* no es un margen, este separa del borde primero vertical y luego horizontal */
}

.nombre {
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;  
    margin-top: 20px;
    margin-bottom: 25px;
}

.titulo-seccion-principal {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin-top: 45px;
}

.parrafo {
    width: 600px;
    height: 144px;
    left: 498px;
    top: 252px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px
}

.texto-resaltado {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
    margin-top: 0px;
    margin-bottom: 0px;
}

.lista-proyectos {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    padding-left: 17px;
}

.subtitulo-experiencia {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    margin-top: 15px;
    margin-bottom: 11px;
}

.fecha-experiencia {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin-top: 0px;
}

.institucion {
    margin-bottom: 0px;
}

.lista-experiencia {
    width: 509px;
    height: 120px;
    left: 514px;
    top: 663px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    padding-left: 17px;
    padding-bottom: 25px;
}

.puntos-proyectos{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2px;
    color: #595959;
}

.enlace-proyectos {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.informacion-lateral {
    background-color: #1E2939;
    padding: 40px 0;
}

.primer-elemento-lista {
    /* width: 600px; */
    /* height: 120px; */
    padding-right: 120px;
    margin-bottom: 5px;/* margen abajo de 40px */
    margin-top: 0px;/* margen abajo de 40px*/
}

.descripcion {
    /* background-color: rgb(219, 203, 203); */
    margin-bottom: 40px;/* margen abajo de 40px */

}

.descripcion-profesion {
    font-size: 14px;/* para darle el tama;o en pixeles */
    font-weight: 700;/* para darle negrita */
}

.titulo-lateral{
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin-top: 50px;
    margin-bottom: 8px;
}

.contactos, .habilidades-tecnicas, .habilidades-blandas{
    margin-left: 40px;

}

.tipo-contacto {
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    margin-right: 5px;
}

.contacto-info{
    color: #949292;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.lista-lateral{
    /* padding: 0; */
    padding-left: 17px;
}

.lista-lateral > li{
    color: #FB6D3A;
}

.elemento-lista-lateral{
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}